<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sdt="http://www.haiswang.com/schema/redisBean"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.haiswang.com/schema/redisBean
                           http://www.haiswang.com/schema/redisBean.xsd">
        
        <!-- 注意 xmlns:${sdt} ,sdt为namespace, 名字是随意定的,可以修改 -->
    <sdt:redisBean id="testSdt" key="name" value="haiswang"/>
</beans>